## MariaDB
MYSQL_ROOT_PASSWORD=changeme_root_password
MYSQL_DATABASE=io200
MYSQL_USER=io200
MYSQL_PASSWORD=changeme_db_password

## IO200 Admin
CMS_ADMIN_EMAIL=admin@example.com
CMS_ADMIN_PASSWORD=changeme_admin_password
CMS_WEBSITE_URL=http://synology-ip:8080
CMS_WEBSITE_TITLE=My IO200 Website

## Port
HTTP_PORT=8080
